<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs ––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>CryptoCoin Status</title>

    <!-- Set Mobile Scaling to Device Width
    ––––––––––––––––––––––––––––––––––––––––––––––––––- -->
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,600,900" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Scripts –––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Favicon –––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Mobile URL Bar Color ––––––––––––––––––––––––- -->
    <meta name="theme-color" content="#131f25">

    <body>
        <div id="app">
            <div v-if="!error">
                <div class="row">
                    <div class="left">{{coin}}:</div>
                    <div class="right" id="total_xrp">{{amount | number}}</div>
                    <div style="float: clear"></div>
                </div>
                <div class="row">
                    <div class="left">USD:</div>
                    <div class="right" id="total_usd">{{total_usd | number}}</div>
                    <div style="float: clear"></div>
                </div>
                <div class="row">
                    <div class="left">USD/{{coin}}:</div>
                    <div class="right" id="conversion">{{conversion_rate | number}}</div>
                    <div style="float: clear"></div>
                </div>
                <div v-if="!local_storage" @click="saveData" class="button">
                    Save Coin and Amount
                </div>
                <div v-if="local_storage" class="link">
                    <a :href="link">Direct Link</a>
                </div>
            </div>
            <div v-if="error" class="row">
                {{error}}
            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>
