<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs ––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>CryptoCoin Status</title>

    <!-- Set Mobile Scaling to Device Width
    ––––––––––––––––––––––––––––––––––––––––––––––––––- -->
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Scripts –––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Favicon –––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Mobile URL Bar Color ––––––––––––––––––––––––- -->
    <meta name="theme-color" content="#131f25">

    <body>
        <div id="app">
            <div v-for="exchange,name in data" :key="name">
                <h1>{{name}}</h1>
                <hr>
                <table>
                        <tr v-for="coin in exchange" :key="coin.symbol">
                            <td>{{coin.symbol  | number}}</td>
                            <td class="right">{{coin.amount  | number}}</td>
                            <td class="right">{{coin.trading | number}}</td>
                            <td class="right">{{coin.value   | number}}</td>
                        </tr>
                        <tr>
                            <td>SUM</td>
                            <td></td>
                            <td></td>
                            <td class="right">{{total(exchange) | number}}</td>
                        </tr>
                </table>
            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>
